@model CloudWeb.Models.Order

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Üksikasjad</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Team)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Team.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.whoseOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.whoseOrder.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.deadLine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.deadLine)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Muuda</a> |
    <a asp-action="Index">Tagasi loendisse</a>
</div>
