@model IEnumerable<CloudWeb.Models.Order>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Team)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.whoseOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.deadLine)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Team.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName.productName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.whoseOrder.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.deadLine)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Muuda</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Üksikasjad</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Kustuta</a>
            </td>
        </tr>
}
    </tbody>
</table>
