@model CloudWeb.Models.Company

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nameCompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nameCompany)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.basingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.basingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.directorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.directorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.directorSurname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.directorSurname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.productType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.productType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
